.progress-circle {
    transform: rotate(-90deg); 
  }
  
  .circle-bg {
    stroke-linecap: round; 
  }
  
  .circle-progress {
    stroke-linecap: round;
    transition: stroke-dashoffset 0.9s ease; /* Animation fluide */
  }
  
  .circle-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    font-weight: bold;
    color: #333;
  }
  
